# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
.build/
build/
dist/
.eggs/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Python cache and logs
*.log
*.out

# Data / artifacts
checkpoints/
outputs/
logs/
fig/
documents/references
preprocessor/infer_m2f_ins.py
